/* ========== КОМПОНЕНТИ ========== */
:root {
    --primary-brand: #4D5AE5;
    --color-card: #FFFFFF;
    --accent-color: #E7E9FC;
    --main-text-color: #434455;
    --secondary-text-color: #2E2F42;
    --light-mode-background:#F4F4FD;
}

body {
    font-family: 'Roboto',sans-serif; 
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
} 

img {
    display: block;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.section-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 70px;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

/* ========== КОМПОНЕНТИ КІНЕЦЬ ========== */

/* ==========ХЕДЕР========= */

.main-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 24px;
}

.main-nav {
    display: flex;
    align-items: center;
}

.logo {
    font-family: 'Raleway',sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-text-color);
    margin-right: 77px;
}
.logo-color {
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-brand);
}

.menu {
    display: flex;
    align-items: center;
}

.menu-item:not(:last-child){
    margin-right: 40px;
}

.menu-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}

.menu-link:hover,
.menu-link:focus {
    color: var(--primary-brand);
}
.menu-link .menu-item:active {
    color: var(--primary-brand);
}

.current {
    color: var(--primary-brand);
}

.contact {
    display: flex;
    align-items: center;
}
.contact-item:not(:last-child) {
    margin-right: 40px
}

.contact-mail {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

.contact-mail:hover,
.contact-mail:focus {
    color: var(--primary-brand);
}

.contact-phone {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

.contact-phone:hover,
.contact-phone:focus {
    color: var(--primary-brand);
}

/* =========ХЕДЕР КІНЕЦЬ======= */

/* ==========ГОЛОВНИЙ КОНТЕНТ========== */

    /* ==========ГЕРОЙ========== */


.hero {
    text-align: center;
    background-color: var(--secondary-text-color);
}

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 192px 274px;
}

.hero-title {
    font-weight: 600;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--color-card);
    margin-bottom: 64px;
    
}
.hero-btn {
    padding: 16px 32px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1,18;
    letter-spacing: 0.04em;
    color: var(--color-card);
    background: var(--primary-brand);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.hero-btn:hover,
.hero-btn:active {
    color: var(--color-card);
    background-color: var(--primary-brand);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 4px;
}

.hero-btn {
    cursor: pointer;
}
    /* ==========ГЕРОЙ КІНЕЦЬ========== */


    /* ==========ОСОСБЛИВОСТІ========== */

.features {
    padding-bottom: 0px;
}

.hidden-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-list {
    display: flex;
    justify-content: space-between;
}

.features-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    margin-bottom: 8px;
}
.features-text {
    width: 264px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

.features-text:not(:last-child) {
    margin-right: 24px;
}

    /* ==========ОСОБЛИВОСТІ КІНЕЦЬ========== */


    /* ==========ПОСЛУГИ========== */

.service-list {
    display: flex;
    justify-content: space-between;
}
.service-item:not(:last-child) {
    margin-right: 24px;
}
.service-img {
    background: linear-gradient(0deg, rgba(77, 90, 229, 0.1), 
    rgba(77, 90, 229, 0.1)), url(2225.jpg);
    background-blend-mode: soft-light, normal;
    border: 1px solid var(--accent-color);
}
    /* ==========ПОСЛУГИ КІНЕЦЬ========== */


    /* ==========КОМАНДА========== */

.team {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: var(--light-mode-background);
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.team-item {
    background: var(--color-card);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px 
    rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;   
}

.team-img {
    margin-bottom: 32px;
}
.team-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    margin-bottom: 8px;    
}
.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;  
    color: var(--main-text-color);
    margin-bottom: 32px;
}
    /* ==========КОМАНДА КІНЕЦЬ========== */

    /* ==========ПОРТФОЛІО========== */
.portfolio {
    padding-top: 96px;
}

.filters-list {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
}

.filters-item:not(:last-child) {
    margin-right: 24px;
}

.all-btn {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--color-card);
    padding: 8px 16px;
    background: var(--primary-brand);
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    cursor: pointer;
}


.filters-btn {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primary-brand);
    padding: 8px 16px;  
    background: var(--light-mode-background);
    border: 1px solid var(--accent-color);
    border-radius: 4px; 
    cursor: pointer;
}
.filters-btn:hover,
.filters-btn:active {
    color: var(--color-card);
    background: var(--primary-brand);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
}

.project-card-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.project-card-item {
    background: var(--color-card);
    border: 0.5px solid var(--light-mode-background);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}


.project-card-content {
    padding: 32px 16px;
    border-bottom: 0.5px solid var(--light-mode-background);
}

.project-card-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    margin-bottom: 8px;    
}
.project-card-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-color);    
}

    /* ==========ПОРТФОЛІО========== */

/* ==========ГОЛОВНИЙ КОНТЕНТ КІНЕЦЬ========== */


/* ==========ФУТЕР========== */

.footer-bg {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--secondary-text-color);
}

.logo-footer {
    font-family: 'Raleway',sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--light-mode-background);
    margin-bottom: 16px;  
}

.footer-text {
    width: 264px;
    height: 72px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--accent-color);    
}
/* ==========ФУТЕР КІНЕЦЬ========== */